/* Container for all icons */
.container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: 1;
}

/* All text */
.span {
    color: var(--secondary-gray);
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* ------------- Heart Icon section ----------------- */

.heartIcon {
    stroke: var(--primary-grey);
    fill: var(--primary-white);
    stroke-width: 2px;
    stroke-linejoin: round;
    fill: none;
    transition: transform 100ms ease-in-out, fill 200ms ease-in-out;
}

.heartIcon[data-authorized="true"]:hover {
    stroke: var(--primary-red);
    transform: scale(1.15);
    cursor: pointer;
}

.heartIcon[data-authorized="true"]:active {
    cursor: pointer;
    transform: scale(0.5);
}

.heartIcon[data-clicked="true"] {
    fill: var(--primary-red);
    stroke: none;
}

.heartIcon[data-authorized="false"] {
    opacity: 0.5;
    stroke: var(--primary-grey);
    fill: var(--primary-grey);
    cursor: default;
}

.heartIcon[data-authorized="false"]:hover {
    cursor: pointer;
    stroke: none;
}

/*  -----------------Comment Icon section ----------------- */

.commentIcon {
    stroke: var(--primary-grey);
    fill: var(--primary-white);
    stroke-width: 2px;
    stroke-linejoin: round;
    transition: transform 100ms ease-in-out, fill 100ms ease-in-out;
}

.commentIcon:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.commentIcon:active {
    /* Click animation */
    cursor: pointer;
    transform: scale(0.5);
}

/* ----------------- Comment Icon section ----------------- */

.shareIcon {
    stroke: var(--primary-grey);
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
    transition: transform 100ms ease-in-out, stroke-width 100ms ease-in-out;
}

.shareIcon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.shareIcon:active {
    /* Click animation */
    cursor: pointer;
    transform: scale(0.5);
}

.linkCopiedAlert {
    position: absolute;
    bottom: 200%;
    margin-top: 0.5rem;
    background-color: var(--secondary-black);
    color: var(--primary-white);
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    width: 100%;
    transition: opacity 300ms ease-in-out;
}
