.commentForm {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 0.75rem;
    z-index: 200;

    border-radius: 0.75rem;
    background: var(--primary-sky-blue, #00a1ff);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25) inset,
        0px -20px 30px 4px rgba(255, 255, 255, 1); /* White fading shadow on top */
}

.imageAndInput {
    display: flex;
    align-items: flex-start;
    gap: 0.625rem;
    width: 100%;
}

.imageAndInput img {
    border-radius: 3.125rem;
    border: 2px solid #fff;
    background: #7b7b7b;
}

.imageAndInput input {
    display: flex;
    height: 4rem;
    padding: 0.5rem;
    justify-content: center;
    width: 100%;

    color: var(--primary-black);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border: none;
    border-radius: 0.875rem;
    background: var(--primary-white);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

.imageAndInput input:focus {
    outline: 2px solid var(--secondary-sky-blue);
}
