/* Global CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}

/* Additional Global Styles */
body {
    line-height: 1.6; /* Improve readability by setting a consistent line height */
    color: #333; /* Set a default text color */
    background-color: #f4f4f4; /* Set a default background color */

    /* Making sure the screen doesnt scroll, only the components scroll */
    height: 100svh;
    display: flex;
    flex-direction: column;
}

/* Styling for Links */
a {
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent element */
}

/* Reset for Lists */
ul,
ol {
    list-style: none; /* Remove default list styling */
}

/* Reset for Tables */
table {
    border-collapse: collapse; /* Collapse table borders for consistency */
    width: 100%; /* Ensure tables take full width */
}

/* -------- Reset Ends Here ------------------ */

/* Variables for colors */
:root {
    --primary-sky-blue: #00a1ff;
    --secondary-sky-blue: #004b77;
    --light-sky-blue: #f1faff;
    --dark-sky-blue: #092433;
    --primary-black: #181818;
    --secondary-black: #1b1b1b;
    --primary-white: #ffffff;
    --slightly-dark-white: #f6f6f6;
    --secondary-white: #eeeeee;
    --primary-grey: #525252;
    --primary-red: #f02626;
}

/* Global CSS styles */
.button {
    display: flex;
    width: 8.1rem;
    height: 3rem;
    /*Make sure to match the height with height of navIcons*/
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 0px 16px 0px rgba(255, 255, 255, 0.15) inset;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: 0px;

    transition: background-color ease-in-out 150ms;
}

.primaryButton {
    background: var(--secondary-sky-blue);
    color: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) inset;
}

.primaryButton:hover {
    background-color: var(--secondary-black);
    cursor: pointer;
}

.secondaryButton {
    background: var(--primary-sky-blue);
    color: #fff;
}

.secondaryButton:hover {
    background-color: var(--secondary-sky-blue);
    cursor: pointer;
}

.whiteButton {
    background: var(--primary-white);
    color: #fff;
}

.whiteButton:hover {
    background-color: var(--secondary-white);
    cursor: pointer;
}
