/* main is the part that consists of submit pachiku form and all pachikus. */
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;

	border-radius: 0.75rem;
	background: var(--bg);
	box-shadow: var(--shadow-inset);
	padding: 0.75rem;
	margin-top: 0.75rem;

	/* Theme transition */
	transition:
		background-color var(--transition-theme),
		box-shadow var(--transition-theme);

	/* For Firefox */
	scrollbar-color: #7878783b transparent;
	scrollbar-track-color: transparent;
}

/* Safari */
/* Hide the scrollbar track and only show the thumb */
.main::-webkit-scrollbar {
	width: 8px;
}

.main::-webkit-scrollbar-track {
	background: transparent; /* Hide the track background */
	margin: 1rem;
}

.main::-webkit-scrollbar-thumb {
	background-color: #ffffff; /* Color of the scrollbar thumb */
	border-radius: 10px; /* Rounded corners for the thumb */
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) inset;
	margin-top: 1rem;
}
