.newPachikuForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: stretch;
    padding: 0.75rem;
    gap: 0.75rem;
    border-radius: 1rem;
    background: var(
        --primary-sky-blue,
        linear-gradient(180deg, #00a1ff 0%, #0090e4 100%)
    );
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2) inset;
}

.imageAndForm {
    display: flex;
    align-items: center;
    gap: 0.74rem;
    padding: 0.74rem;
    width: 100%;
    border-radius: 0.75rem;
    background: var(--primary-white);
}

.image {
    border-radius: 3.125rem;
    background: #7b7b7b;
}

.inputForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 3rem;
    width: 100%;
    padding: 0.75rem;

    border: none;
    border-radius: 0.75rem;
    color: var(--primary-black);
    font-size: 1.25rem;
    font-weight: 400;
}

.inputForm:focus {
    outline: 0px;
}

.feedbackAndButton {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.feedbackAndButton p {
    margin-right: auto;
    color: var(--primary-white);
    font-size: large;
}
