.navBar {
    display: flex;
    overflow: hidden;
    justify-content: space-between;

    width: 100%;
    padding: 0.75rem;

    border-radius: 0.75rem;
    background: var(
        --primary-sky-blue,
        linear-gradient(180deg, #00a1ff 0%, #0090e4 100%)
    );
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2) inset;

    transition: height 200ms ease-in-out;
}

.logo {
    display: flex;
    align-items: center;
    height: 3.7rem;
}

.logo h1 {
    color: var(--primary-white, #fff);
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.15);
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.heading {
    color: var(--primary-white);
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    width: 3rem;

    border-radius: 100rem;

    background-color: var(--secondary-sky-blue);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25) inset;

    transition: background-color ease-in-out 150ms;
}

.icon:focus,
.icon:active {
    background-color: var(--secondary-black);
}

.hamburgerIcon {
    display: none;
}

@media (hover: hover) {
    .icon:hover {
        background-color: var(--secondary-black);
    }
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.signOutIcon {
    height: 1.25rem;
    width: auto;
    padding-left: 0.2rem;
}

@media screen and (max-width: 600px) {
    .navLinks {
        flex-direction: column;
        height: 20rem;
    }

    .hamburgerIcon {
        display: flex;
    }
}
