.allPachikusList {
	display: flex;
	padding: 0.75rem;
	flex-direction: column;
	align-items: flex-start;
	gap: 3rem;
	align-self: stretch;

	border-radius: 0.75rem;
	background: var(--bg);
	box-shadow: var(--shadow-m);

	/* Theme transition */
	transition:
		background-color var(--transition-theme),
		box-shadow var(--transition-theme);
}
