.dashboardPage {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	width: 100%;
	min-width: 300px;
	max-width: 700px;
}

.dashboardPage > h2 {
	display: flex;
	padding: 0.875rem;
	flex-direction: column;

	border-radius: 0.75rem;
	background: var(--bg-light);
	box-shadow: var(--shadow-s);
	color: var(--text);

	/* Theme transition */
	transition:
		background-color var(--transition-theme),
		box-shadow var(--transition-theme),
		color var(--transition-theme);
}
