.pachikuPost {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    max-height: 100%;
}

.pachikuPost > li,
.pachikuPost > section {
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}
