.dashboardForm {
	display: flex;
	padding: 0.75rem;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
	width: 100%;

	border-radius: 0.75rem;
	background: var(--bg-light);
	box-shadow: var(--shadow-m);

	/* Theme transition */
	transition:
		background-color var(--transition-theme),
		box-shadow var(--transition-theme);
}

.dashboardForm img {
	width: 8rem;
	height: 8rem;

	border: 8px solid var(--secondary-white);
	background: lightgray 50%;

	box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.form {
	display: flex;
	padding: 1rem;
	flex-direction: column;
	align-items: flex-end;
	gap: 1rem;
	width: 100%;

	border-radius: 0.75rem;
	background: var(--primary-sky-blue);
	box-shadow: var(--shadow-brand);

	/* Theme transition */
	transition:
		background var(--transition-theme),
		box-shadow var(--transition-theme);
}

.firstRow {
	display: flex;
	align-items: flex-start;
	gap: 0.75rem;
	width: 100%;
}

.form input {
	display: flex;
	padding: 0.875rem;
	align-items: center;
	width: 100%;

	border-radius: 0.75rem;
	border: none;
	background: var(--bg-light);
	box-shadow: var(--shadow-s);

	color: var(--text);
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;

	/* Theme transition */
	transition:
		background-color var(--transition-theme),
		box-shadow var(--transition-theme),
		color var(--transition-theme);
}

.labelAndForm {
	width: 100%;
}

.labelAndForm label {
	padding-left: 0.3rem;
	color: #fff;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.spinner {
	border: 4px solid rgba(255, 255, 255, 0.3);
	border-top: 4px solid #fff;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 0.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
